// fonts 
.leckerli-one-regular {
  font-family: "Leckerli One", serif;
  font-weight: 400;
  font-style: normal;
}
.ubuntu-light {
  font-family: "Ubuntu", serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", serif;
  font-weight: 700;
  font-style: italic;
}
// main styles 
.Title {
  color: yellowgreen;
  padding: 10px;
  font-size: 2rem;
  font-family: "Leckerli One";
}
body {
  background-color: #282c34;
  color: white;
  font-family: "Ubuntu", serif;
}
.MainApp {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Search {
  display: flex;
  align-items: center;
  padding: 20px;

    /* For WebKit browsers (Chrome, Safari, Edge) */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* For Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
  input {
    padding: 5px;
    margin-right: 10px;
    font-size: 1.4rem;
    border-radius: 10px;
    border-style: solid;
    width: 200px;

    &:focus {
      outline: none;
      
    }
  }
  svg {
    font-size: 1.4rem;
    padding: 10px;
    color: white;
    border-radius: 20%;
  }
}
.bueno {
  border-color: yellowgreen;
  border-width: 5px;
}
.malo {
  border-color: gray;
  border-width: 5px;
}
.allow {
  background-color: yellowgreen;
  cursor: pointer;
}
.disabled {
  background-color: gray;
  cursor: not-allowed;
}
// results 
.Result {
  display: flex;
  text-align: left;
  flex-direction: column;
  padding: 20px;
  overflow: auto;

  li {
    list-style-type: none;
    padding: 20px;
    border: 1px solid yellowgreen;
    border-radius: 10px;
    margin: 20px;
    background-color: gray;
  }

  .NumeroDNI {
    font-size: 1.5rem;
    font-family: "Leckerli One", serif;
    color: #FCC75F;
  }
  .InfoDNI {
    font-size: 1.2rem;
    font-family: "Ubuntu", serif;
    color: white;
    font-size: 1.4rem;
    padding: 15px;
    color: lightyellow;
  }
  hr {
    border: 1px solid yellowgreen;
    width: 100%;
  }
  h1 {
    font-size: 1.4rem;
    color: lightgray;
  }
  h2 {
    font-size: 1.2rem;
  }
}
.Loading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  p {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #FCC75F;
    padding: 15px;
  }
  img {
    width: 100px;
    height: 100px;
  }
}
.Error {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #FCC75F;
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  svg {
    // transform: scale(2.5);
    width: 60px;
    height: 60px;
  }
  p {
    padding: 15px;
  }
}